%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = video_tag(@video.video_url, id: 'video', size: '665x375', poster: "#{video_large_cover(@video)}")
        -#%img(src="#{video_large_cover(@video)}" width=665 height=375)
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        - unless current_user.queued_video?(@video)
          .actions
            = link_to 'Watch Now', '', id:'play_video_btn', class: 'btn btn-primary'
            = link_to '+ My Queue', queue_items_path(video_id: @video), method: 'post', class: 'btn btn-default'

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        = f.select :rating, options_for_video_review, label: 'Rate this video', class: 'col-sm-3'
        = f.text_area :content, label: 'Write Review', rows: 6
        = f.form_group do
          = f.submit 'Submit'
          = link_to 'Cancel', video_path(@video)
      %header
        %h3 User Reviews (#{@reviews.count})
      = render 'shared/reviews', reviews: @reviews