%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for([:admin, @video], multipart: true, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6') do |f|
          %ul.nav.nav-tabs
            %li
              = link_to 'Recent Payments', admin_payments_path
            %li.active
              = link_to 'Add a New Video', new_admin_video_path
          %br
          %fieldset
            = f.text_field :title, control_col: 'col-sm-3'
            = f.select :category_id, options_for_select( @categorys.map { |category| [category.name, category.id] }, @categorys.first.id)
            = f.text_area :description, rows: 8
            = f.form_group do
              = image_tag(@video.large_cover, size: '266x150', alt: 'large cover') if @video.large_cover?
            = f.file_field :large_cover, label: 'Large Cover', class: 'form-control'
            = f.hidden_field :large_cover_cache
            = f.form_group do
              = image_tag(@video.small_cover, size: '166x236', alt: 'small cover') if @video.small_cover?
            = f.file_field :small_cover, label: 'Small Cover', class: 'form-control'
            = f.hidden_field :small_cover_cache
            = f.text_field :video_url, label: 'Video URL'
          = f.form_group class: 'actions' do
            = f.submit 'Add Video'